{% extends "base.html" %}
{% block content %}
    <div class="w-full max-w-xs mx-auto">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <h2 class="text-xl mb-4 text-center font-bold text-gray-700">Sign Up</h2>
            {{ form.as_p }}
            <div class="flex items-center justify-between mt-6">
                <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
                        type="submit">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock %}
