{% extends 'store/index.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4 mb-3">
        <div class="product-box border">
            <img src="{% static 'images/product_placeholder.png' %}" alt="Product Image">
            <div class="product-info d-flex">
                <p class="mx-3">{{product.name}}</p>
                <p style="float: right;">{{product.price|floatformat:2}}</p>
            </div>
            <div class="btn-add-cart">
                <button class="btn btn-outline-success">Add to Cart</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}