{% extends "base.html" %}
{% block content %}
    <div class="flex shadow-md my-10 bg-white p-10 gap-8">
        <div class="w-1/2">
            <h1 class="font-semibold text-2xl mb-8">Checkout</h1>
            <form method="post" class="space-y-4">
                {% csrf_token %}
                {% for field in form %}
                    <div class="flex flex-col">
                        <label class="font-bold text-gray-700" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}<span class="text-red-500 text-sm">{{ field.errors }}</span>{% endif %}
                    </div>
                {% endfor %}
                <div class="mt-8">
                    <button type="submit"
                            class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-3 px-4 rounded w-full">
                        Place
                        Order
                    </button>
                </div>
            </form>
        </div>
        <div class="w-1/2 bg-gray-50 p-8 rounded">
            <h2 class="font-semibold text-xl mb-4">Your Order</h2>
            <div class="space-y-4">
                {% for item in cart_items %}
                    <div class="flex justify-between items-center border-b pb-2">
                        <div>
                            <span class="font-bold">{{ item.product.title }}</span> x {{ item.quantity }}
                        </div>
                        <div class="font-bold">${{ item.sub_total }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
